<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sostenibilidad Generativa</title>
    <link rel="stylesheet" href="<%= CONTEXT_PATH %>/css/styles.css">
</head>
<body>
    <header>
        <img src="<%= CONTEXT_PATH %>/imgs/sg-logo.png" alt="Logo" style="height: 40px; cursor: pointer;" onclick="backToMenu('<%= WEB_PRINCIPAL_URL %>', '<%= CONTEXT_PATH %>')">
    </header>
    <div class="container">
        <intro class="intro">
            <h1><%= title %></h1>
            <div class="desc">
                <%= desc %>
            </div>
            <div id="already-completed" class ="desc" style="color:var(--verde-claro);"></div>
            <div class="desc">
                Recuerda que para <span class="highlight">ahorrar energía</span> debes usar técnicas de prompt eficientes. Puedes consultar nuestra <a target="_blank" href="<%= WEB_PRINCIPAL_URL %>/environmental-impact#guia-buenas-practicas"><span class="highlight">guía de buenas prácticas</span></a>
            </div>
        </intro>
        <main class="main-content">
            <div class="left-panel">
                <div class="chatbot-container">
                    <div class="chatbot-intro">
                        <h3><%= botTitle %></h3>
                        <div class="energy-container">
                            <div class="battery">
                                <div class="battery-level" id="batteryLevel"></div>
                                <span id="energyValue">100%</span>
                                <span id="energyRays">⚡⚡⚡</span>
                            </div>
                        </div>
                    </div>
                    <iframe id="iframeEscape" src="<%=IFRAME_URL%>/embed/<%= iframe %>?assistant_name=<%= botName %>&escapp_email=<%= escapp_email %>"></iframe>
                </div>
            </div>
            <div class="right-panel">
                <div class="lock-container">
                    <h2 id="lockTitle">🔒 Ordenador Bloqueado</h2>
                    <div class="timer-container">
                        <h2 class="timer" id="timer">00:00</h2>
                    </div>
                    <form class="lockbox" id="lockForm" autocomplete="off">
                        <label for="password">Introduce la contraseña:</label>
                        <input id="password" required autocomplete="off" placeholder="••••••••">
                        <button type="submit">Desbloquear ordenador</button>
                        <div id="message"></div>
                        <div style="display:none;" id="backMenu"><a onclick="backToMenu('<%= WEB_PRINCIPAL_URL %>', '<%= CONTEXT_PATH %>')">Volver al menú</a></div>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <div class="fixed-center">
        <iframe id="babyShark" style="display:none;" width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="footer-collaborators">
                <div class="logos-container">
                    <img src="<%= CONTEXT_PATH %>/imgs/cotec-logo.png" alt="COTEC">
                    <img src="<%= CONTEXT_PATH %>/imgs/GING-logo.png" alt="GING">
                    <img src="<%= CONTEXT_PATH %>/imgs/UPM-logo.png" alt="Universidad Politécnica de Madrid">
                </div>
            </div>
        </div>
    </footer>
    
    <script src="<%= CONTEXT_PATH %>/js/script.js" onload="initEscapeRoom({
        room: '<%= room %>', 
        totalEnergy: <%= totalEnergy %>, 
        inputWordsPenalty: <%= inputWordsPenalty %>,
        outputWordsPenalty: <%= outputWordsPenalty %>,
        failurePenalty: <%= failurePenalty %>,
        timeLimit: <%= timeLimit %>,
        allowContinueAfterGameOver: <%= allowContinueAfterGameOver %>,
        contextPath: '<%= CONTEXT_PATH %>',
        webPrincipalUrl: '<%= WEB_PRINCIPAL_URL %>',
        newCSS: `<%= newCSSIframe %>`
    })"></script>
</body>
</html> 